.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.btn-info {
    margin-top: 9%;
    margin-bottom: 9%;
}

h3 {
    color: #fff;
}

.s007 a {
    color: #fff;
}

.s007 a:hover {
    color: #1A9CF1;
}

@media (max-width: 576px) {


}